{{#if this.showCard}}
  <AuCard @shadow={{true}} @size="flush" as |c|>
    <c.header class="au-u-hidden-visually">
      <AuHeading @level="3" @skin="6">{{t "date-plugin.card.title"}}</AuHeading>
    </c.header>
    <c.content class="au-o-box au-o-box--small">
      <div class="au-o-flow au-o-flow--small">
        <DateTimePicker
          @onChange={{this.changeDate}}
          @value={{this.dateValue}}
          @onlyDate={{this.onlyDate}}/>
        {{#unless this.dateInDocument}}
          <AuFormRow class="au-u-margin-top">
            <AuButton {{on 'click' this.modifyDate}}>
              {{if this.onlyDate (t "date-plugin.card.insert-date") (t "date-plugin.card.insert-datetime")}}
            </AuButton>
          </AuFormRow>
        {{/unless}}
      </div>
    </c.content>
  </AuCard>
{{/if}}
